<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Echo Application</title>
    </head>
    <body>
        <!-- ${} と *{} の違い -->
        <!-- ${}：通常の変数参照 -->
        <!-- *{}：th:object で指定したオブジェクトを基準に参照 -->
        <form th:object="${echoForm}" th:action="@{/echo/hello}" method="post">
            <label for="name">Input Your Name:</label>
            <!-- *{} が付く理由は、<form th:object="${echoForm}">で指定したオブジェクトを基準に値を参照するため-->
            <input th:field="*{name}" />
            <!-- エラーが発生した際に渡される -->
            <!-- EchoFormのnameフィールドに紐づくバリデーションエラー一覧を表示する機能-->
            <span th:errors="*{name}" style="color: red"></span> <!--/* (1) */-->
            <input type="submit" />
        </form>
    </body>
</html>