<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 「通常のHTMLとして開いた場合」と「ThymeleafでSpring Bootが処理した場合」の両方でCSSを読み込めるようにするための書き方 -->
        <!-- static配下からのフォルダ～cssファイル名まで指定する-->
        <!-- @{}=>URLを生成する式-->
        <!-- 最終的に作られるのがhttp://localhost:8080/css/styles.css-->
        <link rel="stylesheet" 
              href="../static/css/styles.css"
              th:href="@{/css/styles.css}" />
        <title>Todo</title>
    </head>
    <body>
        <h1>Todo List</h1>
        <div id="todoForm">
            <form action="/create" method="post">
                <input type="text">
                <button>Create Todo</button>
            </form>
        </div>
        <!-- は 水平線（Horizontal Rule） を表示するHTMLタグ -->
        <hr />
        <div id="todoList">
            <!-- Thymeleafのデバッグ・プロトタイプ作成を支援するための機能で、レンダリング時（Spring BootがHTMLを生成する時）に不要な要素を削除 -->
            <!-- th:remove は、HTML要素を削除するためのThymeleafの属性 -->
            <!-- 最初のliの要素だけが残る⇒ダミーデータを1件のこしつつ、実行時にはダミーデータが削除され、th:each による繰り返し結果だけが表示させるため 
                 ->指定したタグにおける最初の子要素以外の要素が削除される-->
            <ul th:remove="all-but-first">
                <!-- Thymeleafでコレクション（Listなど）の要素を1件ずつ取り出して繰り返し表示するための記述 -->
                <li th:each="todo : ${todos}">
                    <!-- Todoのタイトルを表示し、完了済みなら strike というCSSクラスを付ける -->
                    <!-- th:text="${todo.todoTitle}" ；　これは画面へ文字を表示する処理　
                         ->文字列値を出力する際は、XSS対策のため、必ずth:text属性を使用してHTMLエスケープを行うこと。-->
                    <!-- th:class属性を使用することで、動的にclass属性を設定できる。 -->
                    <!-- th:class="${todo.finished} ? 'strike'" : 条件式になっており、${todo.finished} が真の場合 th:class="strike" となる
                    　　　これにより、このspanがstrikeのCSS設定の対象となる -->
                    <span th:class="*{finished} ? 'strike'" th:text="*{todoTitle}">Send a e-mail</span>
                    <!-- th:if属性は条件に応じて、要素を出力するかどうか制御するための属性 
                         ->　todoのfinishedプロパティを参照して「Finish」ボタンの生成を判断する。
                         ->　付けた要素の子要素全てに影響し、まとめて表示・非表示を制御する -->
                    <form th:if="*{!finished}" action="/todo/finish" method="post" class="inline">
                        <button>Finish</button>
                    </form>
                    <form action="/todo/delete" method="post" class="inline">
                        <button>Delete</button>
                    </form>
                </li>
                <li>
                    <span>Hava a lunch</span>
                    <form action="/todo/finish" method="post" class="inline">
                        <button>Finish</button>
                    </form>
                    <form action="/todo/delete" method="post" class="inline">
                        <button>Delete</button>
                    </form>
                </li>
                <li>
                    <span class="strike">Read a book</span>
                    <form action="/todo/delete" method="post" class="inline">
                        <button>Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </body>
</html>